html {
  font-size: 62.5%;
}

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
}

h1,
h2,
p {
  text-align: center;
}

p {
  color: hsl(208, 11%, 55%);
}

h2 {
  font-family: "Poppins";
}

img {
  object-fit: cover;
  width: 100%;
}

button {
  background-color: hsl(322, 100%, 66%);
  border-radius: 152px;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: 700;
  margin: 20px 0 40px;
  padding: 1.6rem 4.5rem;
}

.main-container {
  margin-bottom: 100px;
  position: relative;
  width: 90%;
}

.hero-section {
  align-items: center;
  background-color: hsl(193, 100%, 96%);
  background-image: url(../images/bg-hero-mobile.svg);
  background-position: top;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  margin: 0 0 70px;
  padding-bottom: 5rem;
  width: 100%;
}

.logo {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 20px 0 60px;
  width: 90%;
}

.logo img {
  width: 15%;
}

.logo button {
  background-color: white;
  box-shadow: 0 0 2px grey;
  color: hsl(192, 100%, 9%);
  font-size: 1.4rem;
  margin: 0%;
  padding: 0.6rem 2.5rem;
  width: fit-content;
  width: fit-content;
}

.grids {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.grids img {
  margin: 10px 0 40px;
}

.grid-cards {
  border-radius: 15px;
  box-shadow: 0 0px 5px rgb(122, 120, 120);
  padding: 30px;
}

.grid-one {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 90%;
}

.grid-one-text {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.grid-four {
  margin-bottom: 120px;
}

.float-section {
  align-items: center;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 0px 5px rgb(122, 120, 120);
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  position: absolute;
  width: 99%;
}

footer {
  align-items: center;
  background-color: hsl(192, 100%, 9%);
  color: white;
  display: flex;
  flex-direction: column;
  margin: 10px 0 50px;
  padding: 200px 0 10px;
  width: 100%;
}

footer img {
  height: 100%;
  width: auto;
}

.footer-section {
  width: 95%;
}

.footer-section p {
  color: white;
}

.contact-and-services {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 30px 0 0;
}

.phone-no,
.location-info,
.email-address {
  align-items: center;
  display: flex;
  gap: 20px;
}

.location-info p {
  text-align: start;
  margin-top: 0%;
}

.location-info img {
  align-self: flex-start;
  margin-top: 3px;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 25px;
  list-style-type: none;
  padding: 0;
}

.social-profiles {
  display: flex;
  gap: 20px;
  height: 40px;
  justify-content: center;
  margin: 70px 0 40px;
  width: 100%;
}

.attribution {
  background-color: hsl(228, 49%, 32%);
  border-radius: 10px;
  font-size: 12px;
  padding: 10px;
  text-align: center;
  width: 100%;
}

.attribution a {
  color: hsl(51, 79%, 45%);
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .hero-section {
    background-image: url(../images/bg-hero-desktop.svg);
    width: 100%;
  }

  h1,
  h2,
  p {
    text-align: start;
  }

  .grid-one img {
    width: 60%;
  }

  .grid-one {
    flex-direction: row;
    gap: 5%;
  }

  .grid-one button {
    align-self: flex-start;
  }

  .grid-two,
  .grid-four {
    display: flex;
    flex-direction: row-reverse;
    gap: 5%;
    justify-content: center;
  }

  .grid-three {
    display: flex;
    gap: 5%;
    justify-content: center;
  }

  .grid-two-text,
  .grid-three-text,
  .grid-four-text {
    padding: 70px 50px;
  }

  .grids img {
    object-fit: contain;
    width: 40%;
  }

  .float-section {
    width: 60%;
    left: 20%;
  }

  .float-section h2 {
    text-align: center;
  }

  .contact-and-services {
    flex-direction: row;
    gap: 10%;
    justify-content: space-evenly;
    width: 100%;
  }

  .contact-info {
    width: 40%;
  }

  ul {
    display: grid;
    gap: 0;
    grid-template-columns: 1fr 1fr;
    margin: 0%;
    width: 30%;
  }

  .social-profiles {
    align-self: flex-start;
    margin: 0%;
    width: fit-content;
  }

  .footer-section {
    display: flex;
    flex-direction: column;
  }

  .footer-logo {
    width: 15%;
  }

  .copyright {
    align-self: end;
  }
}
